<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Actions</title>
    <style> 
        a{
            color: rgb(223, 147, 130);
        }
    </style>
  </head>
  <body>
    <h1>Choose what you want to do:</h1>
        <h3>
            <ul>
            <li><a href="/showall"> Show all items </a> </li>
            <li><a href="/filter"> Filter items by price </a></li>
            <li><a href="/search"> Search item by name </a> </li> 
            <li><a href="/rating"> Give rating for items </a> </li>
        </ul>
        </h3>
    <!-- <a href="/">To main page</a> -->
  </body>
</html>
