<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login Form</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title" name="type"><span>Login Form</span></div>
        <form action="/checking/">
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" name = "login"  placeholder="Login" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="row button">
                <input type="submit" name="type" value="Login">
            </div>
            <div style="justify-content: center; display: flex; margin-bottom: 15px" >
                <p style="justify-self: center">OR</p > <br >
            </div>
            <div class="row button">
                <a href="/register/"><input type="button" value="Register"></a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
 